site_name: pgEdge Vectorizer
extra_css:
  - stylesheets/extra.css

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences

plugins:
  - search

theme:
  name: material
  custom_dir: docs/overrides
  favicon: img/favicon.ico

  logo_dark_mode: 'img/logo-dark.png'
  logo_light_mode: 'img/logo-light.png'

  features:
    - navigation.instant
    - navigation.tracking
    - navigation.prune
    - navigation.top
    - toc.follow

  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: white
      accent: cyan
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: cyan
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

extra:
  generator: false

copyright: Copyright &copy; 2025 pgEdge, Inc
repo_url: https://github.com/pgEdge/pgedge-vectorizer

nav:
  - pgEdge Vectorizer:
      - Introduction: index.md
      - Best Practices: best_practices.md
      - Architecture: architecture.md
  - Installing pgEdge Vectorizer:
      - Installing Vectorizer from Source: embedding-providers.md
      - Vectorizer Configuration: configuration.md
      - pgEdge Vectorizer Quickstart: quickstart.md
  - Using Vectorizer:
      - Using Vectorizer: examples.md
      - Monitoring: monitoring.md
  - pgEdge Vectorizer API Reference: api-reference.md
  - Testing: testing.md
  - Troubleshooting: troubleshooting.md
  - pgEdge Vectorizer Release Notes: changelog.md
  - Licence: LICENCE.md